#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
background-image: url(https://img.freepik.com/free-vector/gradient-network-connection-background_23-2148865393.jpg?w=1380&t=st=1678157174~exp=1678157774~hmac=114b789564017f79a02565acfd44ff784d00a3337312c2e0936a1f9e9b1df052)

}
html {
  overflow-x: hidden;
}
